<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Offer</th>
      <th>Participants (Min)</th>
      <th>Participants (Max)</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>
  <tbody align="center">
    <tr>
      <td>
        <%= @offer.id %>
      </td>
      <td>
        <%= @offer.name %>
      </td>
      <td>
        <%= @offer.min_participants %>
      </td>
      <td>
        <%= @offer.max_participants %>
      </td>
      <td>
        <%= @offer.start_at.strftime("%d/%m/%Y") %>
      </td>
      <td>
        <%= @offer.end_at.strftime("%d/%m/%Y") %>
      </td>
    </tr>
  </tbody>
</table>

<h3>Tasks:</h3>
<%#= @party = ParticipantsTask.find_by(offer_id: 53).value %>
<table border="2" cellpadding="10" cellspacing="2">
  <thead>
    <tr>
      <th colspan="2">Task</th>
      <th colspan="<%= @eachparts.count %>">Participants</th>
      <th rowspan="2"></th>
    </tr>
    <tr>
      <th>Type</th>
      <th>Name</th>
        <% i = 1 %>
        <% @eachparts.each do |part| %>
        <th width="75">User <%= i %></th>
        <% i = i+1 %>
      <% end %>
    </tr>
  </thead>
    <tbody align="center">
<%= form_tag(participants_task_path(@offer.id), method: "get") do %>
<%= hidden_field_tag :offer_id, value = @offer.id %>
    <% @eachtasks.each do |task| %>
      <tr>
        <td>
          <strong><%= task.task_type.name %></strong>
        </td>
        <td>
          <%= task.name %>
        </td>
          <% @eachparts.each do |count| %>
          <td>
              <% if ParticipantsTask.exists?(:task_id => task.id, :participant_id => count.id, :offer_id => @offer.id) %>
                <%= check_box_tag("tasks[#{task.id}][#{count.id}]", checked_value = "1", unchecked_value = "0", checked = true ) %>
              <% else %>
                <%= check_box_tag("tasks[#{task.id}][#{count.id}]", value = "1") %>
              <% end %>
          </td>
          <% end %>  
        <td>
          <%= link_to 'Remove', task, method: :delete, data: { confirm: "Are you sure you want to remove #{task.name}?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
  <%= submit_tag("Validate Offer") %>
<% end %>
<br>
<h4>New Task:</h4>
<%= form_tag(new_task_path, method: "get") do %>
<%= select_tag("task_type_id", options_for_select([['Compulsory', 1], ['Optional', 2], ['Either-Or', 3]])) %>
<%= hidden_field_tag("offer_id", @offer.id) %>
<%= submit_tag("Add") %> 
<% end %>
<br>



<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>